@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ibarra Real Nova';
  src: url('../styles/fonts/Ibarra_Real_Nova/IbarraRealNova-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mukta';
  src: url('.styles/fonts/Mukta/Mukta-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --font-ibarra: 'Ibarra Real Nova', serif;
  --font-mukta: 'Mukta', sans-serif;
}

/* Add styles for the transparent title bar */
body {
  background-color: #fffce8; /* Match the backgroundColor in BrowserWindow */
}

/* Add padding to account for the transparent title bar on macOS */
#root {
  padding-top: 28px; /* Adjust this value as needed for your title bar height */
}

/* Add draggable region for window dragging */
.titlebar-drag-region {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 28px; /* Match the padding-top value from #root */
  -webkit-app-region: drag;
  z-index: 9999;
  pointer-events: auto;
}
