@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

a {
  /* color: blue; */
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.footer-gradient {
  background-image: linear-gradient(to top, rgba(256, 252, 244) 20%, rgba(256, 252, 244, 0));
}

.header-gradient {
  background-image: linear-gradient(to bottom, rgba(256, 252, 244) 60%, rgba(256, 252, 244, 0));
}

.bg-menu {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0));
}

.editable:empty:before {
  content: attr(placeholder);
  color: rgba(0, 0, 0, 0.3);
}

/* #363634 */
.bg-menu-dark {
  background-color: rgba(0, 0, 0, 0.82);
}

.semi-transparent {
  background-color: rgba(0, 0, 0, 0.13);
}

.menu-gradient {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.13), rgba(0, 0, 0, 0));
}

.gradient {
  background-image:
    linear-gradient(to bottom right, rgba(255, 253, 128, 0.3), rgba(233, 176, 158, 0.75)),
    url(https://grainy-gradients.vercel.app/noise.svg);
  filter: contrast(120%);
}

.gradient-editor {
  background-image:
    linear-gradient(to bottom right, rgba(255, 253, 128, 0.3), rgba(233, 176, 158, 0.75)),
    url(https://grainy-gradients.vercel.app/noise.svg);
  filter: brightness(146%);
}

.file-button {
  align-items: center;
  background-color: transparent;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Mukta, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 40px; /* 48 OG size*/
  justify-content: center;
  letter-spacing: -0.8px;
  line-height: 24px;
  min-width: 120px; /* 140 OG size */
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.file-button:focus {
  color: #171e29;
}

.file-button:hover {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.file-button:active {
  border-color: #06f;
  color: #06f;
  fill: #06f;
}

.file-button-red:hover {
  border-color: red;
  color: red;
  fill: red;
}

.file-button-red:active {
  border-color: red;
  color: red;
  fill: red;
}

/* @media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
} */

.search-result {
  background-color: rgba(255, 255, 0, 0.3);
}

.search-result-current {
  background-color: rgba(255, 200, 0, 0.5);
}
